//
// CAP Variables
//

// Colors

$cap-green: #a2d7bd;
$cap-orange: lighten(#fcbd9c, 20%);
$cap-brown: #ad7601;
$cap-red: #b72501;
$cap-argentum: #c2c3c5;
$cap-breath: #deefe5;
$cap-grey: #828991;
$cap-blue: #50d3cf;
$cap-yellow: lighten(yellow, 30%);
$cap-light-grey: lighten(#00f, 50%);

//
// CAP custom styles
//
.subline {
    margin-bottom: emCalc(40px);
}

.top-bar .title-area {
    margin-right: emCalc(20px);
}


.panel-cap {
    text-align: center;
}

.panel-creations {
    background-color: lighten($cap-brown, 50%);
}

.panel-accompagnement {
    background-color: $cap-green;
}

.panel-artistes {
    background-color: lighten($cap-red, 50%);
}

.panel-contact {
    background-color: $cap-yellow;
}